<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Slowkowo</title>
    
</head>
<body>
    <div id="room-container">
        <% Object.keys(rooms).forEach(room => { %>
          <div><%=`Nazwa pokoju: ${room} `%></div>
          <a class="btn_room" href="/<%= room %>">Dołącz do pokoju</a>
        <% }) %>
      </div>
      <form action="/room" method="POST">
        <input name="room" type="text" required>
        <button class="create_new_room" type="submit">Stwórz nowy pokój</button>
      </form>
</body>
</html>