body {
    font-size: 1.5rem;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
}
h1, .room-info {
    text-align: center;
    color: #11998e;
    font-family: 'Parisienne', cursive;
}
.move_player {
    width: 100%;
    text-align: center;
    background-color: 
    #11998e;
    font-size: 1.8rem;
}
.word_opponent {
    padding: 15px 0 15px 0;
    text-align: center;
}
.word_opponent_text {
    font-weight: 700;
    border-width: 3px;
    background: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
    outline: 0;
    border: 2px solid;
}
.points-container{
    width: 40%;
}
.first-letter {
    text-align: center;
    color: #11998e;
    font-weight: 700;
    font-size: 2.6rem;
    margin: -15px 10px -30px 10px;
}
.user_draw {
    position: relative;
    padding: 15px 0 0;
}
.draw_word {
    font-family: inherit;
    width: 95%;
    border: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 2px 5px 2px 5px;
    background: transparent;
    transition: border-color 0.2s;
}
.draw_word:focus {
    border-width: 2px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
.draw_word:placeholder-shown  .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
}
.check{
    width: 100%;
    background-image: linear-gradient(to right,
    #11998e,
    #38ef7d);
    border: 1px
    aliceblue;
    height: 25px;
    border-radius: 20px;
    font-size: 1.1rem;
    margin-top: 10px;
}
.rectangle_timer {
    border: 1px solid 
    green;
    border-radius: 70px;
    padding: 40px;
    margin-top: 45px;
}
#countdown {
    position: relative;
    margin: auto;
    margin-top: 100px;
    height: 40px;
    width: 40px;
    text-align: center;
  }
  
  #countdown-number {
    color: black;
    display: inline-block;
    line-height: 40px;
  }
  
  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: linear-gradient(to right,
    #11998e,
    #38ef7d);
    fill: none;
    animation: countdown 10s linear infinite forwards;
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }
