body {
    font-size: 1.5rem;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
}
h1 {
    color: 
    #11998e;
    font-family: 'Parisienne', cursive;
}
.move_player {
    width: 100%;
    text-align: center;
    background-color: 
    #11998e;
    font-size: 1.8rem;
}
.word_opponent {
    padding: 15px 0 15px 0;
    text-align: center;
}
.word_opponent_text {
    font-weight: 700;
    border-width: 3px;
    background: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
    outline: 0;
    border: 2px solid;
}
.first-letter {
    text-align: center;
}
.user_draw {
    position: relative;
    padding: 15px 0 0;
}
.draw_word {
    font-family: inherit;
    width: 100%;
    border: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 2px 5px 2px 5px;
    background: transparent;
    transition: border-color 0.2s;
}
.draw_word:focus {
    /* padding-bottom: 6px; */
    /* font-weight: 700; */
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
.draw_word:placeholder-shown  .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
}

.rectangle_timer {
    border: 1px solid 
    green;
    border-radius: 70px;
    padding: 40px;
    margin-top: 45px;
}